<h1>merci pour votre massage nous allons vous contacter le plutot possible</h1>
<%= button_to 'Back >> ', homes_path, method: :get, class:"p-t-5 mt-5  bg-blue-500  text-center hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>      