<h1>UserDashboard#index</h1>
<p>Find me in app/views/user_dashboard/index.html.erb</p>
<%= button_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700" %>
